
body {
    padding: 0px;
    margin: 0px;
    background-color: #fafafa
}

h3 {
    padding: 0px;
    margin: 0px;
    font-family: $main-font-family;
    font-style: 'Regular';
    font-size: 24px;
    line-height: 36px;
    color: rgba(0,0,0,0.87)  
}

h6 {
    padding: 0px;
    margin: 0px;
    font-style: 'Normal';
    font-family: $main-font-family;
    font-size: 16px;
    color: rgba(0,0,0,0.88);
}

h4 {
    padding: 0px;
    margin: 0px;
    font-style: 'Normal';
    font-family: $main-font-family;
    font-size: 20px;
    color: rgba(0,0,0,0.88);
}

p {
    padding: 0px;
    margin: 0px;
    font-family: $main-font-family;
    font-style: 'Regular';
    font-size: 16px;
    line-height: 24px;
    color: rgba(0,0,0,0.54)
}

button {
    font-family: $main-font-family;
    font-weight: 800;
    font-size: 14px;
    line-height: 22px;
    outline: none;
    border: none;
    text-align: center;
    text-transform: uppercase;
}

button:focus {
    box-shadow: 1px 1px 10px rgba(0,0,0,0.35)
}

button:hover {
    cursor: pointer;
}


input {
    outline: none;
    border: none;
}


.flex-one {
    flex: 1
}
